<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>1097207681307-q5qibpt32nff2dqal3c96s2vo641pi5b.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.1097207681307-q5qibpt32nff2dqal3c96s2vo641pi5b</string>
        <key>API_KEY</key>
        <string>AIzaSyCNGfPeyr2wXK2BBXpmU8a6_y5CPw_igyo</string>
        <key>GCM_SENDER_ID</key>
        <string>1097207681307</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.appillustrator.Vibration-Watcher</string>
        <key>PROJECT_ID</key>
        <string>vibration-watcher-e6dd7</string>
        <key>STORAGE_BUCKET</key>
        <string>vibration-watcher-e6dd7.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:1097207681307:ios:61a65f6a401ea03e</string>
        <key>DATABASE_URL</key>
        <string>https://vibration-watcher-e6dd7.firebaseio.com</string>
    </dict>
</plist>
